@import './components/form-login/form-login.scss';
@import './components/input.scss';
@import './components/modal/modal.scss';

@font-face {
    font-family: "SAO";
    font-weight: 400;
    src:
        url("../fonts/sword_art_online_font_by_darkblackswords-d5nssbp.otf")
}


* {
    font-family:'SAO-Regular', sans-serif;
}

body{
    background-color:#FFF;
    position:relative;
}


.pull-right { 
    float:right;
}

.pull-left{
    float:left;
}

.clearfix{
    clear:both;

}
