@import './components/form-login/form-login.scss';
@import './components/input.scss';
@import './components/modal/modal.scss';


* {
    font-family:'SAO-Regular', sans-serif;
}

body{
    background-color:#FFF;
    position:relative;
}

.pull-right { 
    float:right;
}

.pull-left{
    float:left;
}

.clearfix{
    clear:both;
}
