.modal {
  box-shadow: 0 0 1px 1px #E4E4E4;
  box-sizing: border-box;
  width: 450px;
  position: absolute;
  top: calc(30vh);
  margin-top: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white; }
  .modal .modal-header {
    border-bottom: 1px solid rgba(194, 194, 194, 0.5);
    box-sizing: border-box;
    padding: 20px 15px;
    text-align: center;
    background-color: #F9F9F9;
    box-shadow: inset 0px 3px 19px 0px #E4E4E4;
    text-transform: capitalize;
    font-family: 'SAO';
    font-size: 1.5em; }
  .modal .modal-body {
    position: relative;
    display: block;
    min-height: 180px;
    background-color: #D8D8D8;
    box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.5) inset, 0 -10px 25px -15px rgba(0, 0, 0, 0.5) inset;
    box-sizing: border-box;
    padding: 30px;
    transform: scale(0.9);
    transition-duration: .075s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none; }
  .modal .modal-footer {
    box-sizing: border-box;
    padding: 20px 15px;
    height: 100%;
    text-align: center;
    background-color: #F9F9F9;
    box-shadow: inset 0px 3px 19px 0px #E4E4E4;
    min-height: 60px; }
    .modal .modal-footer .btn-ok {
      display: block;
      float: right;
      cursor: pointer;
      border-radius: 100%;
      height: 45px;
      width: 45px;
      background-image: url("./4_Buttons/Yes.png");
      background-size: cover;
      background-repeat: none; }
    .modal .modal-footer .btn-cancel {
      display: block;
      float: left;
      cursor: pointer;
      border-radius: 100%;
      height: 45px;
      width: 45px;
      background-image: url("./4_Buttons/No.png");
      background-size: cover;
      background-repeat: none; }
